body
  margin: 0
  padding: 0

.root
  margin: 4px
  padding: 8px

.root input[type=text]
  border: 2px solid #ccc
  border-radius: 4px
  padding: 10px
  font-size: 16px
  width: 500px

.root p
  font-size: 16px
  font-family: sans-serif